<section id="content">
    <div class="wrapper">
        <article class="col1">
            <div class="pad2">
                <h2 class="pad_bot1 pad_top1">Contact Form</h2>
                <form id="ContactForm" action="https://hotmail.us20.list-manage.com/subscribe/post?u=3c61e3961ffd9c4a831b7a409&amp;id=1ce3fa3bc0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div>
                        <div class="wrapper">
                            <span>Your Name:</span>
                            <input type="text" value="" name="FNAME" class="input" id="mce-FNAME" required>

                        </div>
                        <div class="wrapper">
                            <span>Your E-mail:</span>
                            <input type="email" value="" name="EMAIL" class="input" id="mce-EMAIL" required>
                        </div>
                        <div class="textarea_box">
                            <span>Your Message:</span>
                            <textarea name="textarea" name="LNAME" cols="1" rows="1" id="mce-LNAME"></textarea>
                        </div>
                        <span>&nbsp;</span> <a href="~/Contact/Index" class="button">Clear</a> <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>